<head>
  <!-- meta Begin -->
  <meta http-equiv="cache-control" content="public, max-age=31536000" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{- .Title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <meta name="author" content="Shell, Linux, Komunitas Pengguna Linux Indonesia , MikroTik, MikroTik Indonesia, FreeBSD, FreeBSD Indonesia, KPLI Klaten, BLC Telkom Klaten, Icar, siBunglonGanteng, siBunglonLabs">
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta name="description" content="Shell, Linux, Komunitas Pengguna Linux Indonesia , MikroTik, MikroTik Indonesia, FreeBSD, FreeBSD Indonesia, KPLI Klaten, BLC Telkom Klaten, Icar, siBunglonGanteng, siBunglonLabs">
  <!-- meta End -->
  
  <!-- google-site-verification Begin -->
  <meta name="google-site-verification" content="SYE8MCa03gDSATy55M-WppXlauxSYqxjOE9Tg7vEJpM" />
  <!-- google-site-verification End -->
  
  <!-- Global site tag (gtag.js) - Google Analytics Begin -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110194945-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-110194945-3');
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics End -->

  <!-- CSS Begin -->
  {{ $normalize := resources.Get "/src/styles/_external/normalize.css" }}
  {{ $milligram := resources.Get "/src/styles/_external/milligram.css" }}
  {{ $baguetteBox := resources.Get "/src/styles/_external/baguetteBox.css" }}
  {{ $external := slice $normalize $milligram $baguetteBox | resources.Concat "assets/css/external.css" | resources.Minify }}
  <link rel="stylesheet" href="{{ $external.RelPermalink }}" media="screen">
  {{ $options := (dict "targetPath" "assets/css/styles.css" "outputStyle" "compressed" "enableSourceMap" true "includePaths" (slice "assets/node_modules")) }}
  {{ $styles := resources.Get "/src/styles/styles.scss" | resources.ToCSS $options }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" media="screen">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400&display=swap" rel="stylesheet">
  <!-- CSS End -->

  <!-- Icons Begin -->
  {{ $touchicon := resources.Get "/src/images/apple-touch-icon.png" }}
  {{ $favicon := resources.Get "/src/images/favicon.ico" }}
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ $touchicon.RelPermalink }}">
  <link rel="shortcut icon" href="{{ $favicon.RelPermalink }}">
  <!-- Icons End -->

  <!-- RSS Begin -->
  <link href="{{ $.LanguagePrefix }}{{ "/posts/index.xml" | relURL }}" rel="alternate" type="application/rss+xml" title="{{- .Site.Title -}}" />
  <link href="{{ $.LanguagePrefix }}{{ "/posts/index.xml" | relURL }}" rel="alternate" type="application/rss+xml" title="{{- .Site.Title -}}" />

  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/google_news.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/twitter_cards.html" . }}
  <!-- RSS End -->

  <!-- Fontawesome Begin -->
  <script src="https://kit.fontawesome.com/749688b2db.js" crossorigin="anonymous"></script>
  <!-- Fontawesone End -->
</head>
