{{ define "main" }}
  <article>
    <section>
      <img
      class="homepage-avatar"
      src="https://icarrr.github.io/img/profil.png"
      width="100px"
      height="100px"
      >
      <h2>Faizar Septiawan</h2>
      <p>
        <b>Hi, I'm siBunglon.</b>
        Orang yang paling bangga menjadi orang gila karena punya prinsip “Sekali
        Gila, Tetap Gila Yang Penting ber-Komitmen, Konsisten & Kontinu."
      </p>
      <p>
        <a href="/posts/">Posts</a> &bull;
        <a href="/tags/">Tags</a> &bull;
        <a href="/posts/index.xml">RSS</a>
      </p>
      <p>
        <a href="mailto:icar@sibunglon.com">E-mail</a> &bull;
        <a href="https://telegram.me/siBunglonGanteng">Telegram</a> &bull;
        <a href="https://github.com/icarrr">Github</a> &bull;
        <a href="https://hub.docker.com/r/sibunglon/">Docker Hub</a>
      </p>
      <p>
        Read - Search - Ask | Sekali Gila Tetap Gila <br>
        <!-- >> I catch you here!!! << -->
      </p>
    </section>
  </article>
{{ end }}
