{{ define "main" }}
<article>
  <section>
    <img
    class="homepage-avatar loading"
    src="{{ $.Site.Params.Author.photo }}"
    width="100px"
    height="100px"
    alt="Profile Photo"
    data-was-processed="true"
    loading="lazy"
    >
    <h2>
    Faizar Septiawan
    </h2>
    <p>
      Palugada paling ganteng di Makassar | #Cyclist Enthusiast | Palugada paling gila di Makassar
      <br>
      Read - Search - Ask | Sekali Gila Tetap Gila
    </p>
    <p>
      <b>Hi, I'm siBunglon.</b>
      Orang yang paling bangga menjadi orang gila karena punya prinsip "Sekali
      Gila, Tetap Gila Yang Penting ber-Komitmen, Konsisten & Kontinu."
    </p>
    <p>
      <a href="/posts/">Posts</a> &bull;
      <a href="/tags/">Tags</a> &bull;
      <a href="/posts/index.xml">RSS</a>
    </p>
    <p>
      <a href="mailto:ganteng@sibunglon.com"><i class="fas fa-envelope-square fa-2x"></i></a> &bull;
      <a href="https://telegram.me/siBunglonGanteng"><i class="fab fa-telegram fa-2x"></i></a> &bull;
      <a href="https://github.com/icarrr"><i class="fab fa-github fa-2x"></i></a> &bull;
      <a href="https://hub.docker.com/r/sibunglon/"><i class="fab fa-docker fa-2x"></i></a> &bull;
      <a href="https://gist.github.com/icarrr"><i class="fas fa-sticky-note fa-2x"></i></a> &bull;
      <a href="/other-sites/"><i class="fas fa-sitemap fa-2x"></i></a> &bull;
      <a href="/x-mosque/"><i class="fas fa-mosque fa-2x"></i></a> &bull;
      <a href="https://stats.uptimerobot.com/92PlZsmp8q"><i class="fas fa-server fa-2x"></i></a> &bull;
      <a href="https://repo.sibunglon.com"><i class="fas fa-book fa-2x"></i></a>
    </p>
  </section>
</article>
{{ end }}